mysql_password: BaeZQYDxqb4AkwmgUqVRrXr21yze+/IbdAyOE8du6oA=
smtp_password: 6rexdtwQgTVjV2QpQKFOwv3V
jagger_password: nNGnLLjWaSpNk9O6c7PQyzSEQjHMdmgQnmWs1QX2Lfk=
jagger_encryption_key: bSLvNdfeeX0bPbS717HufsC36bXCWxFrlw5cFhGolbw=
signing_cert_password: 
